body
    padding-top 55px

.navbar-inverse
	background-color #5FF5B7
	border-color #5FF5B7

.navbar-header a.navbar-brand
    margin-top -15px
    margin-bottom -20px
    h6
        color #ccc

footer
	padding-left 15px
	padding-right 15px
	p
		border-top 1px solid #d7e0e2